.input_wrapper {
    margin: 0 32px;
    position: relative;
    width: 33.3333333%;
}

.input_wrapper:first-child {
    margin-left: 0;
}

.myInput {
    background: var(--input-bg-color);
    color: var(--gray);
    font-size: 30px;
    line-height: 36px;
    border: 0;
    border-radius: 16px;
    width: 100%;
    padding: 16px 24px;
}

.ruble {
    text-align: right;
    color: var(--gray);

    position: absolute;
    height: 36px;
    right: -40px;
    top: 52%;
    
    font-size: 30px;
    line-height: 36px;
}

.myInput:focus {
    background: #FFFFFF;
    line-height: 32px;
    outline: 0;
    border: 2px solid #F3F3F4;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.labelDesc {
    margin-bottom: 24px;
}

.slider {
    width: 90%;
    cursor: ew-resize;
    height: 2px;
    background-color: var(--main-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 24px;
    margin-top: -2px;
}

.slider:hover {
    height: 1px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
}

.slider::-ms-thumb:hover {
    width: 20px;
    height: 20px;
}

@media (max-width: 767px) {
    .input_wrapper {
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
    }

    .labelDesc {
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .input_wrapper {
        margin: 0;
        margin-bottom: 32px;
        width: 100%;
    }
}

@media (min-width: 1120px) {    
}

@media (min-width: 1440px) {
}