.lease_wrapper {
    position: relative;
    width: 1120px;
    height: 800px;
    margin: 0 48px;

    background: #FFFFFF;
}

.title {
    width: 753px;
    height: 98px;
    margin-bottom: 2.858%;
}