.lease_wrapper {
    position: relative;
    width: 1120px;
    height: 800px;
    margin: 0 48px;

    background: #FFFFFF;
}

.title {
    width: 753px;
    height: 98px;
    margin-bottom: 2.858%;
}

.fields_wrapper, .values_wrapper {
    display: flex;
    margin-bottom: 3.036%;
}

.input_wrapper {
    margin: 0 32px;
}

.input_wrapper:first-child {
    margin-left: 0;
}

.input_wrapper {
    position: relative;
    width: 33.333333%;
}

.myInput {
    background: var(--input-bg-color);
    color: var(--gray);
    font-size: 30px;
    line-height: 36px;
    border: 0;
    border-radius: 16px;
    width: 100%;
    padding: 16px 24px;
}

.ruble {
    text-align: right;
    color: var(--gray);

    position: absolute;
    height: 36px;
    right: -40px;
    top: 52%;
    
    font-size: 30px;
    line-height: 36px;
}

.percent {
    background: #EBEBEC;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 10px;
    border-radius: 16px;

    font-size: 20px;
    line-height: 120%;
    text-align: right;
}

.myInput:focus, .myInput:valid {
    background: #FFFFFF;
    line-height: 32px;
    outline: 0;
    border: 2px solid #F3F3F4;
}

.opacityClass {
    opacity: 0.5;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.input_wrapper .labelDesc {
    margin-bottom: 24px;
}

.slider {
    width: 90%;
    cursor: ew-resize;
    height: 2px;
    background-color: var(--main-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider:hover {
    height: 1px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
}

.slider::-ms-thumb:hover {
    width: 20px;
    height: 20px;
}

.value_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.value_wrapper:not(:first-child) {
    margin-left: 72px;
}

.value_wrapper .labelDesc {
    margin-bottom: 8px
}

.submitButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12px 24px;
    gap: 10px;
    margin-left: 52px;
    margin-top: auto;
    height: 68px;

    cursor: pointer;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background: var(--main-color);
    border-radius: 40px;
    border: none;
}

.submitButton:hover {
    background: #111111;
}

.submitButton:active {
    background: var(--gray);
}

.submitButton:disabled {
    opacity: 0.5;
}