.submitButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;

    padding: 12px 24px;
    gap: 10px;
    margin-left: 52px;
    margin-top: auto;
    height: 68px;
    min-width: 288px;

    cursor: pointer;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background: var(--main-color);
    border-radius: 40px;
    border: none;
}

.submitButton:hover {
    background: #111111;
}

.submitButton:active {
    background: var(--gray);
}

.submitButton:disabled {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .submitButton {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .submitButton {
        margin-left: 0;
    }
}

@media (min-width: 1120px) {
    .value_wrapper:not(:first-child) {
        margin-left: 72px;
    }
}

@media (min-width: 1440px) {
    .value_wrapper:not(:first-child) {
        margin-left: 72px;
    }
}